*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    width: 0;
}

body{
    width: 1900px;
    height: 950px;
    font-family: 'Alata', sans-serif;
    background: #151515;
    background-size: cover;
}

.container{
    width: 1900px;
    height: 950px;
    margin: 0;
    padding: 0;

}

@font-face {
    font-family: 'Alata', sans-serif;
}

.block2{
    color: white;
    padding-top: 24%;
    text-align: center;
}

/*Login*/

.login_block{
    width: 500px;
    height: 250px;
    left: 475px;
    top: 438px;
    margin-left: 35%;
    margin-top: 13%;
}

.login_block h1{
    color: white;
    font-size: 54px;
    text-align: center;
    margin-bottom: 5%;
}

.login_form{
    color: white;
    font-size: 24px;
}

    .login_block input{
        margin-left: 1%;
        outline: 0;
        outline-offset: 0;
        margin-bottom: 5%;
        font-size: 25px;
        width: 490px;
        height: 50px;
        left: 475px;
        top: 438px;
        background: none;
        border-right: 2px solid #4278B6;
        border-bottom: 2px solid #4278B6;
        border-top: 2px solid #4278B6;
        border-left: 2px solid #4278B6;
        border-radius: 9px;
        padding-left: 10px;
    }

        .login_block label{
            margin-left: 5%;
        }

            .login_block button{
                font-family: 'Alata', sans-serif;
                margin-left: 17%;
                margin-top: 5%;
                width: 318px;
                height: 80px;
                font-size: 54px;
                background: rgba(86, 164, 255, 0.69);
                border-radius: 9px;
                border: none;
                padding-bottom: 20px;
            }


/*SignUp*/

.signup_block{
    width: 500px;
    height: 250px;
    left: 475px;
    top: 438px;
    margin-left: 35%;
    margin-top: 9%;
}

.signup_block h1{
    color: white;
    font-size: 54px;
    text-align: center;
    margin-bottom: 5%;
}

.signup_block form{
    color: white;
    font-size: 24px;
}

    .signup_block input{
            margin-left: 3%;
            padding-left: 10px;
            outline: 0;
            outline-offset: 0;
            margin-bottom: 5%;
            font-size: 25px;
            width: 490px;
            height: 50px;
            left: 475px;
            top: 438px;
            background: rgba(170, 152, 185, 0.28);
            border-right: 2px solid #4278B6;
            border-bottom: 2px solid #4278B6;
            border-top: 2px solid #4278B6;
            border-left: 2px solid #4278B6;
            border-radius: 9px;
    }



        .signup_block button{
            font-family: 'Alata', sans-serif;
            margin-left: 17%;
            margin-top: 5%;
            width: 318px;
            height: 80px;
            font-size: 54px;
            background: rgba(86, 164, 255, 0.69);
            border-radius: 9px;
            border: none;
            padding-bottom: 20px;

        }

        .helptext{
            font-size: 0;
        }

        .signup_block li{
            font-size: 0;
        }


/*Chat*/

.profile{
    width: 410px;
    height: 113px;
    background: rgba(143, 195, 253, 0.68);
    box-shadow: 2px 10px 7px 1px rgba(0, 0, 0, 0.25);
    border-radius: 16px 16px 0 0;
}
    .profile img{
        width: 100px;
        height: 100px;
        border-radius: 55px;
        float: left;
        margin-top: 1%;
        margin-left: 2%;
    }
        .profile h3{
            padding-top: 4%;
            padding-left: 5%;
            margin-left: 25%;
            font-size: 25px;
        }

        .profile h4{
            margin-left: 30%;
         }



        .edit_block{
            background-color: #4278B6;
            border-radius: 9px;
            position: absolute;
            margin-left: 30%;
            top: 4%;
            width: 410px;
            height: 600px;
            display: none; z-index: 9990;
        }

        .edit_block label{
            margin: 2% 2% 2% 12%;
            display: flex;
            flex-direction: column;
            font-size: 17px;
        }
        .edit_block input{
            margin: 0 auto;
            box-sizing: border-box;
            position: center;
            font-family: 'Alata', sans-serif;
            display: flex;
            flex-direction: column;
            width: 300px;
            height: 35px;
            border-radius: 5px;
            border: none;
            outline: none;
            font-size: 20px;
            padding-left: 7px;
        }
        .edit_block #id_password{
            display: none;
        }
        .edit_block button{
            font-family: 'Alata', sans-serif;
            font-size: 20px;
            float: right;
            width: 70px;
            height: 50px;
            margin-right: 20px;
            border: none;
            background: none;
            cursor: pointer;
        }


.chat_block{
    width: 1920px;
    height: 935px;
}

.user_list{
    float: left;
    width: 410px;
    height: 962px;
    background: rgba(170, 152, 185, 0.13);
    border-radius: 0px 9px 0px 0px;

}
    .user_list input{
        width: 350px;
        height: 35px;
        margin-left: 7%;
        border-radius: 9px;
        border: none;
        outline: none;
        font-size: 24px;
        background: #3a3a3a;
        color: white;
        padding-left: 15px;
        font-family: 'Alata', sans-serif;
    }

.current_contact_chat{
    color: white;
    font-size: 20px;
    padding-left: 30px;
    padding-top: 12px;
    margin-left: 410px;
    height: 95px;
    background: #1C1B1B;
    border-radius: 9px;
}
    .current_contact_chat img{
        width: 75px;
        height: 75px;
        border-radius: 45px;
        float: left;
    }
        .current_contact_chat h3{
            margin-left: 10%;
            margin-top: 1%;
        }

    .chat{
        width: auto;
        height: 800px;
        background: #151515;
        color: white;
    }
        .message_list{
            display: flex;
            flex-direction: column;
            overflow: auto;
            float: left;
            margin-left: 10%;
            height: 800px;
            width: 1150px;
        }
            .message_object{
                align-self: flex-end;
                margin-top: 20px;
                width: fit-content;
                word-wrap: break-word;
                max-width: 250px;
                padding: 10px;
                background: rgba(170, 152, 185, 0.28);
                border-radius: 9px;
            }
            .message_object p{
                max-width: 250px;
            }
            .message_object label{
                float: right;
            }
            .message_object_friend{
                align-self: flex-start;
                word-wrap: break-word;
                max-width: 250px;
                width: fit-content;
                padding: 10px;
                margin-top: 20px;
                background: rgba(170, 152, 185, 0.28);
                border-radius: 9px;
            }
            .message_object_friend p{
                max-width: 250px;
            }
            .message_object_friend label{
                float: left;
            }


    .send_message form{
        height: 2px;
        width: 78%;
    }
        .send_message label{
            display: none;
        }
            .send_message textarea{
                float: left;
                background: rgba(170, 152, 185, 0.28);
                border-radius: 9px 0 0 9px;
                border: none;
                width: 600px;
                height: 40px;
                resize: none;
                font-size: 25px;
                text-align: left;
                outline: none;
                padding-left: 10px;
                padding-top: 4px;
                margin-left: 20%;
             }

                .send_message button{
                    float: left;
                    width: 82px;
                    height: 40px;
                    background: rgba(86, 164, 255, 0.69);
                    border-radius: 0px 9px 9px 0px;
                    border: none;
                }
                .active {
                    background: rgba(86, 164, 255, 0.69);
                }
                .inactive {
                  background-color: #313131;
                }
                    .send_message #id_file{
                        float: right;
                        width: 100px;
                        height: 40px;
                        border-radius: 9px;
                    }

/*Contacts_List*/

.touch{
    width: 405px;
    height: 68px;
}
.contacts_object{
    color: white;
    background: #1C1B1B;
    width: 405px;
    height: 68px;
    margin-bottom: 2%;
    margin-top: 2%;
}
    .contacts_object img{
        margin-left: 2%;
        margin-top: 2%;
        width: 50px;
        height: 50px;
        border-radius: 45px;
        float: left;
    }

    .contacts_object p, a{
        margin-left: 3%;
        margin-top: 20px;
        text-decoration: none;
        color: white;
    }


    .link{
        margin-left: 0;
        font-size: 25px;
        text-decoration: none;
        color: white;
    }
    .link:before {
        content: '';
        width: 1510px;
        position: absolute;
        height: 100px;
        top: 2px;
        left: 410px;
    }


     .modal {
         display: none;
         position: fixed;
         width: 100%;
         height: 100%;
         overflow: auto;
    }
.user_description{
    margin-top: 15%;
    margin-left: 15%;
    padding: 20px;
    width: 20%;
    height: 40%;
    background-color: #3a3a3a;
    border: 1px solid #888;
    border-radius: 9px;
}

.contacts{
    padding-top: 2%;
    width: 405px;
    height: 80px;
    margin-bottom: 5%   ;
    background-color: #1c1b1b;
}
    .contacts img{
        margin-top: 2%;
        float: left;
        width: 55px;
        height: 45px;
        filter: invert(1);
    }
    .contacts h3{
        float: left;
        padding-top: 4%;
    }
.contacts_list{
    display: none;
    float: left;
    width: 410px;
    height: 100px;
    border-right: 4px solid #4278B6;
}
    .contacts_list img{
        margin-top: 2px;
        filter: none;
        width: 55px;
        height: 55px;
    }


.account_block{
    width: 410px;
    height: 500px;
    background-color: #4278B6;
    float: left;
    border-radius: 9px;
    margin-left: 5%;
    margin-top: 2%;
}
    .profile_description{
        padding-top: 5%;
        padding-left: 2%;
        height: 80px;
    }
        .profile_description h3{
            margin-left: 2%;
            margin-top: 1.5%;

        }
    .edit_profile{
        border-radius: 3px;
        margin-top: 20px;
        width: 390px;
        height: 50px;
        background-color: #1c1b1b;
        padding-bottom: 5%;
    }

        .profile_link{
            margin-left: 0;
            font-size: 20px;
            text-decoration: none;
            color: white;
        }
            .profile_link:before {
                content: '';
                width: 390px;
                position: absolute;
                height: 50px;
                top: 288px;
                left: 515px;
            }
        .edit_profile h3{
            padding-top: 10px;
            padding-left: 20px;
        }