{% extends '_base.html' %}
{% load static %}
{% block content %}

{{blocked_list.block_users}}
<div class="profile_block">
    <div class="user_list">
            <div class="profile">
                <img src="{{request.user.avatar.url}}">
                <h3><a href="{% url 'chat' %}">{{request.user.username}}</a></h3>
            </div>
            <div class="contacts">
                <img src="{% static '/img/contacts_icon.png' %}">
                <h3><a id="contacts_btn" href="#">Friends</a></h3>
                <div id="contacts_list" class="contacts_list">
                    {% for friend in friends %}
                        <div class="touch">
                            <div class="contacts_object">
                                <img src="{{friend.friend.avatar.url}}">
                                <p><a href="{% url 'user_chat' friend.friend.id %}">{{friend.friend.username}}</a></p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
                <form method="get">
                    <input class="search_contacts" name="q" placeholder="Search">
                </form>
                {% for u in user_list %}
                    <div class="touch">
                        <div class="contacts_object">
                            <img src="{{u.avatar.url}}">
                            <p><a href="{% url 'user_chat' u.id %}">{{u.username}}</a> </p>
                        </div>
                    </div>
                {% endfor %}
        </div>
        <div class="account_block">
            <div class="profile">
                <img src="{{request.user.avatar.url}}">
                <h3>{{request.user.username}}</h3>
                <h4>{{request.user.description}}</h4>
            </div>
            <div class="profile_description">
                <h3>Email: {{request.user.email}}</h3>
                <h3>First Name: {{request.user.first_name}}</h3>
                <h3>Last Name: {{request.user.last_name}}</h3>
                <div class="edit_profile" >
                    <h3><a class="profile_link" href="#" id="edit_profile_btn">Edit Profile</a></h3>
                    <div id='edit_block' class="edit_block">
                         <div class="blocklist_title">
                            <h3>Edit Profile</h3>
                         </div>
                        <div class="edit">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ user_upd_form.email.label_tag }}
                                {{ user_upd_form.email }}
                                {{ user_upd_form.username.label_tag }}
                                {{ user_upd_form.username }}
                                {{ user_upd_form.first_name.label_tag }}
                                {{ user_upd_form.first_name }}
                                {{ user_upd_form.last_name.label_tag }}
                                {{ user_upd_form.last_name }}
                                {{ user_upd_form.description.label_tag }}
                                {{ user_upd_form.description }}
                                {{ user_upd_form.avatar.label_tag }}
                                <img src="{{request.user.avatar.url}}">
                                {{ user_upd_form.avatar }}
                                <button type="submit">Save</button>
                            </form>
                        </div>
                    </div>
                    </transition>
                </div>
                <div class="edit_profile">
                    <h3><a id="blocklist_btn" href="#">Blocked Users</a></h3>
                    <div id="blocklist_block" class="blocklist_block">
                        <div class="blocklist_title">
                            <h3>Blocked Users</h3>
                         </div>
                        <div class="blocked_list">
                        {% for b in blocked_list %}
                            <div class="blocked_user">
                                <img src="{{b.friend.avatar.url}}">
                                <p>{{b.friend.username}}</p>
                                <a href="{% url 'unblock' operation='unblock' pk=b.friend.pk %}"><button type="button">Unblock</button></a>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="edit_profile">
                     <h3><a class="change_password_link" href="{% url 'password_change' %}">Change Password</a></h3>
                </div>
                <div class="edit_profile">
                     <h3><a class="exit_link" href="{% url 'logout' %}">Exit</a></h3>
                </div>
            </div>
        </div>
</div>
<script src="{% static 'js/edit_user_modal.js' %}"></script>
<script src="{% static 'js/blocklist_modal.js' %}"></script>

{% endblock %}