{% extends '_base.html' %}
{% load static %}
{% block content %}
    <div class="chat_block">
        <div class="user_list">
            <div class="profile">
                <img src="{{request.user.avatar.url}}">
                <h3><a href="{% url 'profile' %}">{{request.user.username}}</a></h3>
            </div>
            <div class="contacts">
                <img src="{% static '/img/contacts_icon.png' %}">
                <h3><a id="contacts_btn" href="#">Контакты</a></h3>
                <div id="contacts_list" class="contacts_list">
                    {% for f in friends %}
                        <div class="touch">
                            <div class="contacts_object">
                                <img src="{{f.avatar.url}}">
                                <p><a href="{% url 'user_chat' f.id %}">{{f.username}}</a></p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
                <form method="get">
                    <input class="search_contacts" name="q" placeholder="Search">
                </form>
                {% for u in user_list %}
                    <div class="touch">
                        <div class="contacts_object">
                            <img src="{{u.avatar.url}}">
                            <p><a href="{% url 'user_chat' u.id %}">{{u.username}}</a> </p>
                        </div>
                    </div>
                {% endfor %}
        </div>

        <div class="current_contact_chat">
            <img class="img" src="{{friend.avatar.url}}" alt="">
            <h3><a class="link" id="user_description_modal_btn">{{friend.username}}</a></h3>
            <div class="modal" id="user_description_modal">
                 <div class="user_description">
<!--                    <form method="post">-->
<!--                        {% csrf_token %}-->
<!--                        {{add_contact_form}}-->
<!--                    </form>-->
                     <img src="{{friend.avatar.url}}">
                     <h3>{{friend.username}}</h3>
                     <h5>{{friend.last_login}}</h5>
                 </div>
            </div>
        </div>

        <div class="chat">
            <div class="message_list">
                    {% for m in message_list %}
                        {% if m.msg_sender == user and m.msg_receiver == friend %}
                            <div class="message_object">
                                <p>{{m.message}}</p>
                                <p>{{m.date}}</p>
                            </div>
                        {% elif m.msg_sender == friend and m.msg_receiver == user %}
                            <div class="message_object_friend">
                                    <p>{{m.message}}</p>
                                    <p>{{m.date}}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
            </div>
        </div>
        <div class="send_message">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{file_form}}
                <button type="submit"></button>
            </form>
            <form method="post">
                {% csrf_token %}
                {{message_form}}
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
